@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<table>
    <tr>
        <td>
            <img src="~/images/probity_logo.png" alt="Probity Enterprises (logo)" class="img-responsive" />
        </td>
        <td>
            <address>
                <strong>Probity Enterprises Inc<br /></strong>
                8235 Old Troy Pike, Suite 271<br />
                Huber Heights, OH 45424<br />
            </address>
        </td>
    </tr>
    <tr>

        <td></td>
        <td>
            <address>
                <strong>Executive Contact<br /></strong>
                David Alioto, President & CEO<br />
                <a href="mailto:#">dalioto@probityenterprises.com<br /></a>
            </address>
        </td>
    </tr>
    <tr>

        <td></td>
        <td>
            <address>
                <strong>Sales & Business Development<br /></strong>
                John Gray, VP of Business Development<br />
                <a href="mailto:#">jgray@probityenterprises.com<br /></a>
            </address>
        </td>
    </tr>
    <tr>

        <td></td>
        <td>
            <address>
                <strong>Supply Chain Services<br /></strong>
                Gary Palmer, Supply Chain Consultant<br />
                <a href="mailto:#">gpalmer@probityenterprises.com<br /></a>
            </address>
        </td>
    </tr>
    <tr>

        <td>
            @*<img src="~/images/chief.jpg" alt="Eric Church" class="img-responsive"/>*@
        </td>
        <td>
            <address>
                <strong>Technical Support<br /></strong>
                Matt Alioto, Tech Lead<br />
                <a href="mailto:#">matthew.j.alioto@gmail.com<br /></a>
            </address>
        </td>
    </tr>
</table>
