@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Probity Enterprises Inc<br />
    8235 Old Troy Pike, Suite 271<br />
    Huber Heights, OH 45424<br />
</address>
<hr />
<h4>Executive Contact</h4>
David Alioto, President & CEO (<a href="dalioto@probityenterprises.com">email</a>)
