@{
    ViewData["Title"] = "Profile";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Configure the warehouses and origins typically used by your organization.</p>

@foreach (var origin in Model)
{
    <p>@Html.DisplayFor(modelItem => origin)</p>
}
